<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sillas.netfoodz">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/netfoodz_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name=".gui.TelaAnimacao"
            android:supportsRtl="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity android:name=".gui.Cadastro" />

        <activity android:name=".gui.Carrinho_de_compras_fragment" />

        <activity android:name=".gui.Listar_produtos"
                  android:parentActivityName=".gui.Login"/>

        <activity android:name=".gui.Login" />

        <activity android:name=".gui.QrCode" />

        <activity android:name=".gui.OfertasActivity"/>

    </application>

</manifest>